html, body, header, h3, h4, a,
ul, li, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea, select,
span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Titillium Web', arial, sans-serif;
  font-style: inherit;
  font-size: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
}

h1 {
  margin: 50px 0px 0px 50px;
}

.app {
  height: 500px;
  margin: 50px;
  display: flex;
}

.map {
  width: 500px;
  height: 100%;
}

.detail {
  margin-left: 50px;
  width: 500px;
}
